.movieRow {
  display: flex;
  flex: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  text-decoration: none;
  overflow-y: scroll;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}
